body {
   background-color: rgb(255, 17, 0);
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin: 0;
}
header {
    background-color: rgb(0, 0, 0);
    color: rgb(204, 40, 11);
    text-align: center;
    padding: 20px;
}
header a {
text-decoration: none;
    color: black;
    background-color: rgb(250, 21, 5);
    padding: 5px 20px;
    border-radius: 3px;
}
header a:hover{
     background-color: rgb(228, 16, 16);
}
h1 {
/* margin-bottom:10px; } */
    margin: 0 10px;
/* Para referenciar Id é com # */}
main {
    padding: 16px;
}
section {
background-color: rgb(226, 60, 19);
border-radius: 16px;
margin: 10px 0;
padding: 16px;
}

section h3 {
    border-bottom: 2px solid rgb(0, 0, 0);
}
#exemploid{
    background-color: rgb(134, 6, 255)
}
/* Para referenciar clase é com. */
.exemploclass {
    background-color: blue;
}